<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web desde Go</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <header
      class="flex justify-around items-center bg-gray-800 text-white h-14"
    >
      <h1 class="text-center font-bold">API Cloner</h1>
      <nav>nav</nav>
    </header>
    <section
      class="flex flex-col justify-center items-center h-screen px-4 py-4 gap-4"
    >
      <h2 class="text-xl font-bold text-center">Clonador de Apis</h2>
      <form class="flex items-center gap-2">

        <input type="text" placeholder="ingresa la url api" class="border border-red-600 p-2 rounded-md" />
        <button class="bg-red-500 hover:bg-red-600 rounded-md px-2 py-2 font-bold text-white">clonar</button>
      </fo>
    </section>
  </body>
</html>
